.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 64px); /* Hauteur de la fenêtre moins la barre de navigation */
}

mat-card {
  width: 400px;
  padding: 20px;
  text-align: center;
}

mat-form-field {
  width: 100%;
  margin-bottom: 15px;
}

button {
  width: 100%;
  margin-top: 10px;
}
